$btn-rad: 25px;
$clr-btn: linear-gradient(#FF79DA, #9356dC);
$clr-place: #EAEAEA;
$clr-main: #9356dc;
$clr-sec: #ff79DA;
$clr-ter: #99E2D0;

a {
    text-decoration: none;
    color: inherit;
}

.omf__brand {
    padding: 16px 89px 16px 85px;

}

.arrow__homepage {
    padding-left: 17px;
    position: absolute;
    top: 27px;

}

.main__photo {
    height: 275px;
    width: 100%;
}

.section__menu {
    background-color: #F6F6F6;
    border-radius: 0px 0px 40px 40px;
    margin: 15px;
}

.restaurant__title {
    font-family: 'shrikhand', cursive;
    display: flex;
    justify-content: space-between;
}

.menu__title {
    border-bottom: $clr-ter 3px solid;
    width: 12%;
    font-size: 16px;
    font-weight: 300;
}



button {
    border: none;
}

.btn__rounded {
    border-radius: $btn-rad;
    background: $clr-btn;
    color: white;
    transition: background-color 250ms;
    padding: 16px 13px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    width: 186px;
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;

    &:hover {
        opacity: 0.7;
        transform: scale(1.1);
    }
}


// CARDS //
.card__menu {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.10);
    text-overflow: ellipsis;
    margin-top: 12px;
    padding: 11px;
    height: 45px;
}

.card__title {
    font-size: 18px;
    font-weight: 500;
}

.card__subtitle {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
}

// CARDS //


// FOOTER //

footer {
    background-color: #353535;
    color: white;
    padding: 20px;

}

ul.no-bullets {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 5px;
}

.icon__fork {
    padding-right: 13px;
}
.icon__handshake {
    padding-right: 8px;
}